<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgut.mapper.UserMapper">

    <resultMap id="userinfo" type="com.dgut.vo.UserRoleInfoVO">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
<!--        <result column="password" property="password" />-->
        <collection property="roleList" column="user_id" select="selectRolesByUserId" />
    </resultMap>
    <select id="selectRolesByUserId" resultType="com.dgut.entity.RoleEntity">
        SELECT id,name,description FROM sale_role where id in (
        SELECT role_id FROM sale_role_user where user_id=#{user_id}
        )
    </select>
    <select id="getUserWithRoleByUserId" resultMap="userinfo" parameterType="string">
        select t1.*from sale_user t1 WHERE t1.user_id=#{user_id}
    </select>
    <select id="selectPageVo" resultMap="userinfo">
        SELECT user_id,username FROM sale_user WHERE username like "%"#{username}"%"
    </select>

</mapper>